<%# ---------------- Include Header Partial ---------------- %>
<%- include('partials/header', { title: 'Profile', user: user }) %>


<h1> User Profile </h1>


<% if ( user?.profilePicture && user?.profilePicture?.url ) { %> <%# * Check if the user has an uploaded profile picture with a valid URL %>

    <img src="<%= user.profilePicture.url %>" alt="<%= user.username %>" width="300" height="300" />

<% } else { %><%# * Display a default profile image if user has no profile picture %>
    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="<%= user.username %>" width="300" height="300" />
<% } %>


<h2><%= user.username %></h2>
<h3><%= user.email %></h3>
<p>
    Date Joined: <%= user.createdAt.toDateString() %>
    <br>
</p>

<!-- Number of posts -->
<p>
    <b>Number of posts: <%= postCount %></b>
</p>

<!-- Show Posts -->
 <% if ( posts?.length > 0 ) { %>

    <h2>Posts</h2>
    <ul>
        <% for (const post of posts) { %>
            <li>
                <p> <a href="/posts/<%= post._id %>"><%= post.title %> </a></p>
                <img src="<%= post.images[0].url %>" alt="<%= post.title %>" width="300" height="300" style="object-fit: cover;" />
                <p><%= post.content %></p>
                
                <p>Date Created: <%= post.createdAt.toDateString() %></p>
            </li>
        <% } %>
    </ul>

<% } else { %>
    <p>No posts found.</p>
<% } %>


<%# ---------------- Include Footer Partial ---------------- %>
<%- include('partials/footer') %>